@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";

html, body, #__next {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

#root, .leaflet-container {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.notification {
    background-color: #ff9800;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    font-size: 18px;
    position: fixed;
    top: 50px; /* Just below the header */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering content vertically */
    align-items: center; /* Centering content horizontally */
    width: 100%;
    padding-top: 70px; /* Adjust based on header height */
    padding-bottom: 50px; /* Adjust based on footer height */
    height: calc(100vh - 120px); /* Full height minus header and footer */
}

.mapContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.popupImage {
    cursor: pointer;
    width: 200px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.modalImage {
    max-height: 90vh;
    max-width: 90vw;
}
