.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden; 
}

.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
  
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
  
.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}
  
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
  
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}
  
.mapContainer {
    flex-grow: 1;
    height: 100%; /* Ensure the map takes the full height */
    margin-bottom: 20px;
}
  
.cameraGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
  
.heading {
    font-size: 24px;
    margin: 20px 0;
}
  
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}
  
.form div {
    display: flex;
    flex-direction: column;
}
  
.form label {
    margin-bottom: 5px;
}
  
.form input, .form textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.form button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.cameraImage {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
}
  
@media (max-width: 768px) {
    .main {
        padding-top: 70px; /* Adjust based on header height */
        padding-bottom: 50px; /* Adjust based on footer height */
    }
  
    .heading {
        font-size: 20px;
    }
}
